<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>807579941165-5gp0em6gtduasmk68diqqqptvtflahqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807579941165-5gp0em6gtduasmk68diqqqptvtflahqt</string>
	<key>API_KEY</key>
	<string>AIzaSyALh8tQlryOHVpU-W5SM5mAX0g0pvcW1iE</string>
	<key>GCM_SENDER_ID</key>
	<string>807579941165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juliameier.SeattleParksGame</string>
	<key>PROJECT_ID</key>
	<string>seattle-parks-game</string>
	<key>STORAGE_BUCKET</key>
	<string>seattle-parks-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807579941165:ios:f425ec068ebbe4c8</string>
	<key>DATABASE_URL</key>
	<string>https://seattle-parks-game.firebaseio.com</string>
</dict>
</plist>