<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   ApiKeys.plist.plist
   SeattleParksGame

   Created by Julia Meier on 3/15/18.
   Copyright (c) 2018 Julia Meier. All rights reserved.
-->
<plist version="1.0">
    <dict>
      <key>app_token</key>
	     <string>dZ7Za4p4QPHkDjMwixXMbRjxX</string>
      <key>secret_token</key>
        <string>x43IXTN6Vn4P-EPJbOlxl1dJ_mUSU8fgC5w9</string>
    </dict>
</plist>
